<div class="new-author"></div>
<form class="new-novelist" method="post" action="/library/create">
	<div>
		<h2>Create Novelist</h2>
		<label for="novelist[name]">Name:</label>
		<input type="text" name="novelist[name]" autofocus>
	</div>
	<div>
		<label for="novelist[gender]">Gender:</label>
		<input type="text" name="novelist[gender]">
	</div>
	<div>
		<label for="novelist[born]">Born:</label>
		<input type="text" name="novelist[born]">
	</div>
	<div>
		<label for="novelist[died]">Died:</label>
		<input type="text" name="novelist[died]">
	</div>
	<div>
		<label for="novelist[nationality]">Nationality:</label>
		<input type="text" name="novelist[nationality]">
	</div>
	<input type="submit" value="Submit"/>
</form>

